extends layout

block body
    div.container-fluid
        div.row
            header.root
                h2.text-center Angular end-to-end
                
            hr
            
            div(ui-view)
    
    script(src='./app.js')
