extends layout

block body
    div.container
        div.row
            header.root
                h2.text-center Angular end-to-end
            
            nav.root
                ul.list-inline.text-center.text-uppercase
                    li
                        a.btn.btn-default.btn-sm(ui-sref="home")
                            span Home
                            i.glyphicon.glyphicon-send(aria-hidden="true")
                    li
                        a.btn.btn-default.btn-sm(ui-sref="about")
                            span new post
                            i.glyphicon.glyphicon-plus-sign(aria-hidden="true")
            hr
            
            h2 Friends list
            
            hr
            
            .container
                div(ui-view)
    
    script(src='./app.js')
