div.text-center
    p
        | Click in the button below to know
        br
        | who are your best pal
    
    h4(ng-if="home.name")
        br
        
        | Your best pal is 
        strong
            u.text-primary {{home.name}}
    br
    
    button.btn.btn-info(ng-click="home.shuffle()")
        span(ng-if="!home.name") Find it out
        span(ng-if="home.name") Try again?
    
    | &nbsp;&nbsp;
    
    button.btn.btn-info(ng-if="home.name", ui-sref="about") See full list of your friends
