table.table.table-striped
    thead
        tr
            td
                h2.text-center Friends list
    tbody
        tr(ng-repeat='friend in home.friends')
            td
                {{friend.first_name}}
                //- contact-card(first-name='friend.first_name', last-name='friend.last_name') {{$index+1}}
